/Doc/
/Build/Tmp/
/Build/Bin/
/Build/Doc/
/Src/Gen/Arduino/avr/bootloaders/
/Src/Gen/Arduino/avr/firmwares/
/Src/Gen/Arduino/avr/libraries/
/Src/Gen/Test/googletest-main.zip
/Src/Gen/Test/googletest-main/googlemock/
/Src/Prj/App/DccSniffer/Alt/
/Src/Prj/App/DccSniffer/DccDecoderMicrosoftTest/
/Src/Prj/_Test/
*_DEPRECATED*
/.vs/
/**/GitVersion.h
Tmp/Arduino.log
Build/link.bat
Install.txt
Tmp/Arduino.log
Tmp/Arduino.vcxprojAssemblyReference.cache
Tmp/Arduino.log
Debug/ConsoleApplication1.exe
Debug/ConsoleApplication1.pdb
Src/Gen/Test/googletest-main/googletest/src/gtest-all.ii
Src/Gen/Test/googletest-main/googletest/src/gtest-all.s
Src/Gen/Test/googletest-main/googletest/src/output.txt
Default_All.txt
Default_Green_Red.txt
do_ramp_16bit_10_0x0_0x8000_0x0100_set_and_step.txt
Dcc_Green_Red.txt
Signal0_ADC_All.txt
Signal0_ADC_Green_Red.txt
Signal0_All.txt
Signal0_DCC_Aspects_2_3.txt
Signal0_Green_Red.txt
Signal1_ADC_Green_Red.txt
Signal1_Green_Red.txt
Signal7_ADC_All.txt
Signal7_ADC_Green_Red.txt
Signal7_All.txt
Signal7_Green_Red.txt
Signal8_Green_Red.txt
Signal7_DCC_Aspects_2_3.txt
Signal0_DCC_Aspects_0_1_UserDefinedSignal0.txt
Signal0_ADC_Green_Red_StepSize_1.txt
Signal0_ADC_Green_Red_StepSize_2.txt
Signal0_ADC_Green_Red_StepSize_m1.txt
Signal1_ADC_Green_Red_StepSize_1.txt
Signal1_ADC_Green_Red_StepSize_2.txt
Signal1_ADC_Green_Red_StepSize_m1.txt
Signal7_ADC_Green_Red_StepSize_1.txt
Signal7_ADC_Green_Red_StepSize_2.txt
Signal7_ADC_Green_Red_StepSize_m1.txt
