/Doc/
/Build/Tmp/
/Build/Bin/
/Src/Gen/Arduino/avr/bootloaders/
/Src/Gen/Arduino/avr/firmwares/
/Src/Gen/Arduino/avr/libraries/
/Src/Gen/Test/googletest-main.zip
/Src/Gen/Test/googletest-main/googlemock/
/Src/Prj/App/DccDecoder/Alt/
/Src/Prj/App/DccDecoder/DccDecoderMicrosoftTest/
/Src/Prj/_Test/
*_DEPRECATED*
/.vs/
