/Doc/
/Build/Tmp/
/Build/Bin/
/Src/Gen/Arduino/avr/bootloaders/
/Src/Gen/Arduino/avr/firmwares/
/Src/Gen/Arduino/avr/libraries/
/Src/Gen/Test/googletest-main.zip
/Src/Gen/Test/googletest-main/googlemock/
/Src/Prj/App/DccSniffer/Alt/
/Src/Prj/App/DccSniffer/DccDecoderMicrosoftTest/
/Src/Prj/_Test/
*_DEPRECATED*
/.vs/
Tmp/Arduino.log
Build/link.bat
Install.txt
Tmp/Arduino.log
Tmp/Arduino.vcxprojAssemblyReference.cache
Tmp/Arduino.log
