name: Build AVR Project App/Signal

on:
  push:
    branches:
      - master
      - develop

  pull_request:
    branches:
      - master
      - develop

  release:
    types:
      - published     # When a release is published
    branches:
      - master

jobs:
  build:
    if: ${{ github.event_name == 'push' }} || ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y git make gcc-avr avr-libc

      - name: Clone Repository
        run: git clone https://github.com/RalfSondershaus/Arduino arduino

      - name: Navigate to Repository
        run: cd arduino

      - name: Run Build Script App/Signal
        run: ./Build/build.sh App/Signal mega avr_gcc arduino none rebuild

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: Build/Bin/

  build_release:
    if: ${{ github.event_name == 'release' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y git make gcc-avr avr-libc

      - name: Clone Repository
        run: git clone https://github.com/RalfSondershaus/Arduino arduino

      - name: Navigate to Repository
        run: cd arduino

      - name: Run Build Script App/Signal
        run: ./Build/build.sh App/Signal mega avr_gcc arduino none rebuild

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: Build/Bin/

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # The upload URL is extracted from the release event
          upload_url: ${{ github.event.release.upload_url }}
          # Note: "working-directory" works for run-steps only, so we use full pathes here
          asset_path: ./Build/bin/Signal.hex
          asset_name: Signal.hex
          asset_content_type: application/octet-stream
