name: Build AVR Project App/Signal

on:
  push:
    branches:
      - master
      - develop

  pull_request:
    branches:
      - master
      - develop

  release:
    types:
      - published     # When a release is published
      - draft         # When a release is created as a draft
      - prereleased   # When a prerelease is created

jobs:
  build:
    if: ${{ github.event_name == 'push' }} || ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y make gcc-avr avr-libc

      - name: Run Build Script App/Signal for mega
        run: ./Build/build.sh App/Signal mega avr_gcc arduino none rebuild

      - name: Run Build Script App/Signal for nano
        run: ./Build/build.sh App/Signal nano avr_gcc arduino none rebuild

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: Build/Bin/

  build_release:
    # Trigger this job only for releases with 'signal' in the tag name (case-insensitive).
    # You can normalize strings using toJSON() (a trick that forces lowercase for ASCII letters):
    if: ${{ github.event_name == 'release' && contains(toJSON(github.event.release.tag_name), 'signal') }}
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y make gcc-avr avr-libc

      - name: Run Build Script App/Signal for mega
        run: ./Build/build.sh App/Signal mega avr_gcc arduino none rebuild

      - name: Run Build Script App/Signal for nano
        run: ./Build/build.sh App/Signal nano avr_gcc arduino none rebuild

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: signal-release-${{ github.event.release.tag_name }}
          path: Build/Bin/

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v2.4.0
        with:
          files: |
            Build/Bin/Signal/mega/Signal_mega.hex
            Build/Bin/Signal/mega/Signal_mega.elf
            Build/Bin/Signal/nano/Signal_nano.hex
            Build/Bin/Signal/nano/Signal_nano.elf