name: Build AVR Project App/Signal

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

  release:
    types:
      - published     # When a release is published
    branches:
      - master

jobs:
  build:
    if: ${{ github.event_name == 'push' }} || ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y make gcc-avr avr-libc

      - name: Run Build Script App/Signal
        run: ./Build/build.sh App/Signal mega avr_gcc arduino none rebuild

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: Build/Bin/

  build_release:
    if: ${{ github.event_name == 'release' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y make gcc-avr avr-libc

      - name: Run Build Script App/Signal
        run: ./Build/build.sh App/Signal mega avr_gcc arduino none rebuild

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: signal-release-${{ github.event.release.tag_name }}
          path: Build/Bin/

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            Build/Bin/Signal.hex
            Build/Bin/Signal.elf
