name: Build AVR Project Unit Tests

on:
  push:
    branches:
      - master
      - fix_Ut_Sstream_Formatted_input_char_array
      - feature-dcc-addressing
      - feature-bit-extractor-in-ISR
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y git make gcc

      - name: Clone Repository
        run: git clone https://github.com/RalfSondershaus/Arduino arduino

      - name: Navigate to Repository
        run: cd arduino

      - name: Run Build Script UnitTest/Gen/Dcc/Ut_PacketExtractor
        run: |
          ./Build/build.sh UnitTest/Gen/Dcc/Ut_PacketExtractor win32 gcc win unity rebuild
          ./Build/build.sh UnitTest/Gen/Dcc/Ut_PacketExtractor win32 gcc win unity run

      - name: Run Build Script UnitTest/Gen/Util/Ut_Algorithm
        run: |
          ./Build/build.sh UnitTest/Gen/Util/Ut_Algorithm win32 gcc win unity rebuild
          ./Build/build.sh UnitTest/Gen/Util/Ut_Algorithm win32 gcc win unity run

      - name: Run Build Script UnitTest/Gen/Util/Ut_Array
        run: |
          ./Build/build.sh UnitTest/Gen/Util/Ut_Array win32 gcc win unity rebuild
          ./Build/build.sh UnitTest/Gen/Util/Ut_Array win32 gcc win unity run

      - name: Run Build Script UnitTest/Gen/Util/Ut_Bitset
        run: |
          ./Build/build.sh UnitTest/Gen/Util/Ut_Bitset win32 gcc win unity rebuild
          ./Build/build.sh UnitTest/Gen/Util/Ut_Bitset win32 gcc win unity run

      - name: Run Build Script UnitTest/Gen/Util/Ut_Fix_Deque
        run: |
          ./Build/build.sh UnitTest/Gen/Util/Ut_Fix_Deque win32 gcc win unity rebuild
          ./Build/build.sh UnitTest/Gen/Util/Ut_Fix_Deque win32 gcc win unity run

      - name: Run Build Script UnitTest/Gen/Util/Ut_Fix_Queue
        run: |
          ./Build/build.sh UnitTest/Gen/Util/Ut_Fix_Queue win32 gcc win unity rebuild
          ./Build/build.sh UnitTest/Gen/Util/Ut_Fix_Queue win32 gcc win unity run

      - name: Run Build Script UnitTest/Gen/Util/Ut_InputClassifier
        run: |
          ./Build/build.sh UnitTest/Gen/Util/Ut_InputClassifier win32 gcc win unity rebuild
          ./Build/build.sh UnitTest/Gen/Util/Ut_InputClassifier win32 gcc win unity run

      - name: Run Build Script UnitTest/Gen/Util/Ut_Ramp
        run: |
          ./Build/build.sh UnitTest/Gen/Util/Ut_Ramp win32 gcc win unity rebuild
          ./Build/build.sh UnitTest/Gen/Util/Ut_Ramp win32 gcc win unity run

      - name: Run Build Script UnitTest/Gen/Util/Ut_String
        run: |
          ./Build/build.sh UnitTest/Gen/Util/Ut_String win32 gcc win unity rebuild
          ./Build/build.sh UnitTest/Gen/Util/Ut_String win32 gcc win unity run

      - name: Run Build Script UnitTest/Gen/Util/Ut_Sstream
        run: |
          ./Build/build.sh UnitTest/Gen/Util/Ut_Sstream win32 gcc win unity rebuild
          ./Build/build.sh UnitTest/Gen/Util/Ut_Sstream win32 gcc win unity run

      - name: Run Build Script UnitTest/Gen/Util/Ut_String_view
        run: |
          ./Build/build.sh UnitTest/Gen/Util/Ut_InputClassifier win32 gcc win unity rebuild
          ./Build/build.sh UnitTest/Gen/Util/Ut_InputClassifier win32 gcc win unity run

      - name: Run Build Script UnitTest/Gen/Util/Ut_Vector
        run: |
          ./Build/build.sh UnitTest/Gen/Util/Ut_Vector win32 gcc win unity rebuild
          ./Build/build.sh UnitTest/Gen/Util/Ut_Vector win32 gcc win unity run

      - name: Run Build Script UnitTest/Prj/Ut_Signal
        run: |
          ./Build/build.sh UnitTest/Prj/Ut_Signal win32 gcc win unity rebuild
          ./Build/build.sh UnitTest/Prj/Ut_Signal win32 gcc win unity run

      - name: Run Build Script UnitTest/Prj/Ut_Signal_Com
        run: |
          ./Build/build.sh UnitTest/Prj/Ut_Signal_Com win32 gcc win unity rebuild
          ./Build/build.sh UnitTest/Prj/Ut_Signal_Com win32 gcc win unity run
