name: Build AVR Project App/DccSniffer

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y make gcc-avr avr-libc

      - name: Run Build Script App/DccSniffer for Arduino Mega
        run: ./Build/build.sh App/DccSniffer mega avr_gcc arduino none rebuild

      - name: Run Build Script App/DccSniffer for Arduino Nano
        run: ./Build/build.sh App/DccSniffer nano avr_gcc arduino none rebuild

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: Build/Bin/
